body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.topnav{
  background-color: maroon;
  color: white;
  width: 101.1% !important;
  height: 82px;
}
.topnav>h3{
	margin-left: 100px;
	text-transform: uppercase;
	margin-top: 27px;
	font-size: 34px;
}
ul{
	background-color: maroon !important;
    list-style-type: none;
    position:sticky;
    top:1px;
}
li{
    float: left;
    margin-left:46px;
    margin-top: 12px;
}
a{
   text-decoration:none;
   font-size:17px;
   color: white !important;
   padding:1px 2px;
   border-radius: 27px;
 }
a:hover{
      background-color:lightgrey;
      text-decoration: none !important;
      color: black !important;
}
.ad1{
  border: 2px solid maroon;
  border-radius: 7px;
  margin-left: 80px;
  margin-top: 18px;
  height: 236px;
  width: 264px;
}
.rowbar{
	/*background-color: white;*/
	color:  maroon;
	word-spacing: 2px;
	margin-top: 25px;
	font-size: 15px;
	margin-left: -64px;
}
.ad{
	margin-left: 122px;
	margin-top: 42px;
}
.hd{
	font-size: 25px;
	margin-top: 42px;
}
.desc{
	margin-top: 27px;
	color: black;
}
.ad2{
	width: 264px;
	margin-top: 70px;
	margin-left: 84px;
	height: 207px;
	border-radius: 7px;
	border: 2px solid maroon;
}