body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.topnav{
  background-color: maroon;
  color: white;
  width: 101.1% !important;
  height: 82px;
}
.topnav>h3{
	margin-left: 100px;
	text-transform: uppercase;
	margin-top: 27px;
	font-size: 34px;
}
ul{
	background-color: maroon !important;
    list-style-type: none;
    position:sticky;
    top:1px;
}
li{
    float: left;
    margin-left:46px;
    margin-top: 12px;
}
a{
   text-decoration:none;
   font-size:17px;
   color: white !important;
   padding:1px 2px;
   border-radius: 27px;
 }
a:hover{
      background-color:lightgrey;
      text-decoration: none !important;
      color: black !important;
}
.hd{
  font-size: 23px;
  margin-top: 78px;
  text-transform: uppercase;
  color: maroon;
  margin-left: 66px;
}
.submit_btn{
  height:42px;
  width: 864px;
  border-radius: 5px 5px;
  background-color: maroon;
  color: white;
  margin-top: 6px;
}
.li{
  margin-right:16%;
}
.form-field{
  margin:10px;
}
.ad{
  margin-left: 96px;
  margin-top: -34px;
  text-transform: uppercase;
}
.ad1{
  border: 2px solid maroon;
  border-radius: 3px;
  margin-left: 80px;
  margin-top: 17px;
  height: 216px;
  width: 270px;
}
.rowbar{
  /*background-color: white;*/
  color:  maroon;
  word-spacing: 2px;
/*  margin-top: 25px;*/
  font-size: 15px;
/*  margin-left: -94px;*/
}
