body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.topnav{
  background-color: maroon;
  color: white;
  width: 101.1% !important;
  height: 82px;
}
.topnav>h3{
	margin-left: 100px;
	text-transform: uppercase;
	margin-top: 27px;
	font-size: 34px;
}
ul{
	background-color: maroon !important;
    list-style-type: none;
    position:sticky;
    top:1px;
}
li{
    float: left;
    margin-left:46px;
    margin-top: 12px;
}
a{
   text-decoration:none;
   font-size:17px;
   color: white !important;
   padding:1px 2px;
   border-radius: 27px;
 }
a:hover{
      background-color:lightgrey;
      text-decoration: none !important;
      color: black !important;
}
.hd{
  font-size: 23px;
  margin-top: 64px;
  text-transform: uppercase;
  color: maroon;
  margin-left: 66px;
}
.submit_btn{
  height:40px;
  width:110px;
  border-radius: 5px 5px;
  background-color: maroon;
  color: white;
  margin-left: 800px !important;
  margin-top: 14px;
}
tr>th{
  background-color: maroon;
  color: white;
  text-align: center;
  font-style: italic;
}
tr>td{
  color: black;
  text-align: center;
  font-style: italic;
}
.ad{
  margin-left: 30px;
  margin-top: -58px;
}
.ad1{
  border: 2px solid maroon;
  border-radius: 3px;
  margin-left: 30px;
  margin-top: 18px;
  height: 190px;
  width: 230px;
}
.rowbar{
  color:  maroon;
  word-spacing: 2px;
  margin-top: 25px;
  font-size: 15px;
  margin-left: 194px;
}
